@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: #2f3464;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{

    background-color: #fafafa;
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
    width: 460px;
    height: 580px;
    text-align: center;
    font-family: 'Sriracha', cursive;
    border-radius: 5%;
   
}
h1{
    margin: 12px 0;
}
.add__elements{
    margin: 12px 0;
    
}
input{
    padding: 6px 4px;
    width: 70%;
}

button{
    padding: 6px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    font-family: 'Sriracha', cursive;

}
.element-list{
    height: 550px;
}
ul{
    padding: 15px;
   
}
li{
  
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 65px;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: all .4s;
}
button:hover{
    background-color: #1565c0;
    transition: all 0.4s;
}

li:hover{
    background-color: #e0e0e0;
}

/* For JS ClassList */
.checked{
    text-decoration: line-through;
    background-color: #15b31d;
    opacity: 0.8;
}

